ACCOUNT_UUID={ACCOUNT_UUID}
REPOSITORY_UUID={REPOSITORY_UUID}
RUNNER_UUID={RUNNER_UUID}

RUNTIME_PREREQUISITES_ENABLED=true

OAUTH_CLIENT_ID=OAUTH_CLIENT_ID
OAUTH_CLIENT_SECRET=OAUTH_CLIENT_SECRET

WORKING_DIRECTORY=/tmp